.box {
    width: 300px;
    height: 300px;
    margin: 50px auto;
    background-color: red;
}   

.item {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 50px auto;
    background-color: green;
}